name: MENNA-CD

on:
  workflow_dispatch:
    inputs:
      deploy_target:
        description: 'Choose'
        default: 'local'
        type: choice
        options:
          - local
          - ec2

jobs:
  deploy-job:
    runs-on: self-hosted
    steps:
      - name: Hello
        run: echo "Manual Trigger Works!"
